@use "../../../../core/styles/palette" as palette;

@mixin map-side {
  background: palette.$bg-gradient-galaxy;
}

$aside-closed-width: 3rem;
$aside-opened-width: 16rem;
$panel-lelay: 0.25s;

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "aside map object-panel";

  &__map {
    grid-area: map;
    height: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  &__header {
    display: flex;
    grid-area: header;
    @include map-side();
    &_button {
      background-color: transparent;
      outline: none;
      width: $aside-closed-width;
      border: none;
      outline: none;
      width: 50px;
      cursor: pointer;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &__wrapper {
      justify-content: center;
    }
    &__title {
      background: palette.$gradient-white;
      color: transparent;
      background-clip: text;
    }
  }
  &__aside {
    grid-area: aside;
    transition: width 0.5s;
    @include map-side();
    &_opened {
      width: $aside-opened-width;
    }
    &_closed {
      width: $aside-closed-width;
    }
  }
  &__object-panel {
    grid-area: object-panel;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background-color: palette.$bg-blue;
    color: palette.$white;
    // padding: 1rem;
    padding: 14rem 8rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: opacity $panel-lelay, visibility $panel-lelay;
    &_opened {
      opacity: 1;
      visibility: visible;
    }

    &_closed {
      opacity: 0;
      visibility: hidden;
    }
  }
}
