@use "../../../core/styles/palette" as palette;

$burger-size: 25px;
$line-height: $burger-size / 3 - 5px;

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $burger-size;
  height: $burger-size;

  &_opened {
    .burger__line--center {
      opacity: 0;
    }

    .burger__line--top {
      transform: translateY($burger-size / 2 - $line-height / 2) rotate(45deg);
    }

    .burger__line--bottom {
      transform: translateY(-($burger-size / 2 - $line-height / 2))
        rotate(-45deg);
    }
  }

  &__line {
    width: 100%;
    height: $line-height;
    border-radius: $line-height / 2;
    background: palette.$gradient-white;

    &--center {
      transition: opacity 0.3s ease-in-out;
    }

    &--top,
    &--bottom {
      transition: transform 0.3s ease-in-out;
    }
  }
}
