// colors
$red: #ff6347; 
$blue: #1e90ff; 
$black: #000000;
$white: #ffffff;
$purple: #774dcb;
$light-blue: #c5f0f9;

// bg-colors
$bg-red: darken($red, 20%);
$bg-blue: darken($blue, 20%);
$bg-black: lighten($black, 10%);
$bg-white: darken($white, 20%);

// gradients
$gradient-red: linear-gradient(45deg, $red, darken($red, 25%));
$gradient-blue: linear-gradient(45deg, $blue, darken($blue, 25%));
$gradient-black: linear-gradient(45deg, $black, lighten($black, 25%));
$gradient-white: linear-gradient(45deg, $white, darken($white, 25%));
$gradient-cosmic: linear-gradient(135deg, darken($purple, 10%), darken($light-blue, 10%), $black);
$gradient-stars: linear-gradient(45deg, $black, darken($black, 10%), transparent);
$gradient-galaxy: linear-gradient(135deg, darken($purple, 10%), darken($blue, 10%), darken($light-blue, 10%));
$gradient-nebula: linear-gradient(45deg, darken($red, 10%), darken($purple, 10%), $black);

// bg-gradients
$bg-gradient-cosmic: linear-gradient(135deg, darken($purple, 20%), darken($light-blue, 20%), $black);
$bg-gradient-stars: linear-gradient(45deg, $black, darken($black, 15%), transparent);
$bg-gradient-galaxy: linear-gradient(135deg, darken($purple, 30%), darken($blue, 30%), darken($light-blue, 30%));
$bg-gradient-nebula: linear-gradient(45deg, darken($red, 20%), darken($purple, 20%), $black);

// bg-gradients for bg-colors
$bg-gradient-red: linear-gradient(45deg, $bg-red, darken($bg-red, 20%));
$bg-gradient-blue: linear-gradient(45deg, $bg-blue, darken($bg-blue, 20%));
$bg-gradient-black: linear-gradient(45deg, $bg-black, lighten($bg-black, 20%));
$bg-gradient-white: linear-gradient(45deg, $bg-white, darken($bg-white, 20%));
